.petitscochonspage1 {
  background: url(../../../assets/img/cochons004/petitscochonspage1.png)
    center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.petitscochonspage2 {
  background: url(../../../assets/img/cochons004/petitscochonspage2.png)
    center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain;
  }
}

.petitscochonspage3 {
  background: url(../../../assets/img/cochons004/petitscochonspage3.png)
    center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain;
  }
}

.petitscochonspage4 {
  background: url(../../../assets/img/cochons004/petitscochonspage4.png)
    center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain;
  }
}

.petitscochonspage5 {
  background: url(../../../assets/img/cochons004/petitscochonspage5.png)
    center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain;
  }
}

.petitscochonspage6 {
  background: url(../../../assets/img/cochons004/petitscochonspage6.png)
    center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain;
  }
}

.petitscochonspage7 {
  background: url(../../../assets/img/cochons004/petitscochonspage7.png)
    center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain;
  }
}

.petitscochonspage8 {
  background: url(../../../assets/img/cochons004/petitscochonspage8.png)
    center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain;
  }
}

.petitscochonspage9 {
  background: url(../../../assets/img/cochons004/petitscochonspage9.png)
    center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain;
  }
}
