.imgCoeurVeganA {
  background: url(../../../assets/img/003ACoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.imgCoeurVeganB {
  background: url(../../../assets/img/003BCoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.imgCoeurVeganC {
  background: url(../../../assets/img/003CCoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.imgCoeurVeganD {
  background: url(../../../assets/img/003DCoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  @media (max-width: 650px) {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
