@charset "UTF-8";
@font-face {
  font-family: "CheeseB";
  src: url(../assets/fonts/CheeseBurger.otf);
}
@font-face {
  font-family: "Wortlb";
  src: url(../assets/fonts/wortl-b.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* li {
  list-style: none;
}

body {
  font-family: CheeseB, sans-serif;
  background: rgba(187, 176, 159, 0.644);
  height: 100vh;
  color: rgb(37, 21, 11);
  border: 10px rgba(187, 176, 159, 0.644);
}
body h3 {
  margin-top: 5px;
}

.home .homeliste-content {
  display: grid;
  text-align: center;
  align-items: center;
  min-width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

nav,
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto auto;
  background: url(../../assets/img/champetre.jpg) center/cover;
}
nav .nav-container,
.nav .nav-container {
  width: 100vw;
  padding: 20px;
}
nav .nav-container .logo,
.nav .nav-container .logo {
  border: 2px solid whitesmoke;
  box-shadow: 8px 7px 18px 3px whitesmoke;
  border-radius: 20px;
  background: rgba(187, 176, 159, 0.644);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  max-width: 1100px;
  max-height: 120px;
  margin: 3px auto;
  display: grid;
  height: 100%;
  text-align: center;
  grid-template-columns: 15% 60% 25%;
  grid-template-areas: "lo ti na";
}
@media screen and (max-width: 775px) {
  nav .nav-container .logo,
  .nav .nav-container .logo {
    grid-template-columns: 17% 65% 18%;
  }
}
@media screen and (max-width: 670px) {
  nav .nav-container .logo,
  .nav .nav-container .logo {
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "lo ti" "na na";
  }
}
@media screen and (max-width: 560px) {
  nav .nav-container .logo,
  .nav .nav-container .logo {
    grid-template-columns: 25% 75%;
  }
}
@media screen and (max-width: 560px) {
  nav .nav-container .logo,
  .nav .nav-container .logo {
    grid-template-columns: 25% 75%;
  }
}
@media screen and (max-width: 455px) {
  nav .nav-container .logo,
  .nav .nav-container .logo {
    grid-template-columns: 15% 85%;
  }
}
@media screen and (max-width: 420px) {
  nav .nav-container .logo,
  .nav .nav-container .logo {
    grid-template-columns: 20% 80%;
  }
}
@media screen and (max-width: 410px) {
  nav .nav-container .logo,
  .nav .nav-container .logo {
    grid-template-columns: 30% 70%;
    grid-template-areas: "lo ti" "na na";
  }
}
nav .nav-container .logo .imglogo,
.nav .nav-container .logo .imglogo {
  grid-area: lo;
  background: url(../../assets/img/logo180.png) center/cover;
  padding: 3px;
  width: 70%;
}
nav .nav-container .logo .imglogo:hover,
.nav .nav-container .logo .imglogo:hover {
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  nav .nav-container .logo .imglogo,
  .nav .nav-container .logo .imglogo {
    width: 60%;
  }
}
@media screen and (max-width: 670px) {
  nav .nav-container .logo .imglogo,
  .nav .nav-container .logo .imglogo {
    width: 40%;
  }
}
@media screen and (max-width: 560px) {
  nav .nav-container .logo .imglogo,
  .nav .nav-container .logo .imglogo {
    width: 50%;
  }
}
@media screen and (max-width: 455px) {
  nav .nav-container .logo .imglogo,
  .nav .nav-container .logo .imglogo {
    width: 90%;
  }
}
@media screen and (max-width: 430px) {
  nav .nav-container .logo .imglogo,
  .nav .nav-container .logo .imglogo {
    padding: 0;
  }
}
@media screen and (max-width: 410px) {
  nav .nav-container .logo .imglogo,
  .nav .nav-container .logo .imglogo {
    width: 70%;
  }
}
@media screen and (max-width: 320px) {
  nav .nav-container .logo .imglogo,
  .nav .nav-container .logo .imglogo {
    width: 75%;
  }
}
nav .nav-container .logo ul,
.nav .nav-container .logo ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .nav-container .logo ul li,
.nav .nav-container .logo ul li {
  font-weight: 600;
  font-size: 1.2rem;
  color: whitesmoke;
  letter-spacing: 2px;
}
nav .nav-container .logo ul li a,
.nav .nav-container .logo ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 2px;
  border-radius: 10px;
  /* liens cliquables non-soulignés*/
}
nav .nav-container .logo ul li a.nav-active,
.nav .nav-container .logo ul li a.nav-active {
  background: rgb(136, 184, 96);
}
nav .nav-container .logo ul li a:visited,
.nav .nav-container .logo ul li a:visited {
  color: whitesmoke;
  text-decoration: none;
}
nav .nav-container .logo ul li a:hover,
.nav .nav-container .logo ul li a:hover {
  background: rgb(37, 21, 11);
}
nav .nav-container .logo h1,
.nav .nav-container .logo h1 {
  grid-area: ti;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 10px 5px;
  color: rgb(37, 21, 11);
  text-align: center;
  font-family: Wortlb, sans-serif;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1110px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 1050px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 975px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 905px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 845px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 775px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 1.6rem;
    padding: 7px 2px;
  }
}
@media screen and (max-width: 520px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 490px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 455px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 1.3rem;
    letter-spacing: 0.9px;
    text-align: left;
  }
}
@media screen and (max-width: 430px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    letter-spacing: 0.8px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 410px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    font-size: 1.5rem;
    letter-spacing: 0.9px;
    text-align: left;
  }
}
@media screen and (max-width: 335px) {
  nav .nav-container .logo h1,
  .nav .nav-container .logo h1 {
    padding-left: 20px;
  }
}
nav .nav-container .logo .nav-buttons,
.nav .nav-container .logo .nav-buttons {
  grid-area: na;
  font-size: 2rem;
  padding: 0 5px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
@media screen and (max-width: 670px) {
  nav .nav-container .logo .nav-buttons,
  .nav .nav-container .logo .nav-buttons {
    justify-content: center;
  }
}
nav .nav-container .logo .nav-buttons button,
.nav .nav-container .logo .nav-buttons button {
  font-weight: 700;
  margin: 6px;
  padding: 6px 6px;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: rgb(206, 228, 187);
}
nav .nav-container .logo .nav-buttons button:hover,
.nav .nav-container .logo .nav-buttons button:hover {
  background: rgb(37, 21, 11);
  color: wheat;
}
nav .nav-container .logo .nav-buttons button a,
nav .nav-container .logo .nav-buttons button i,
.nav .nav-container .logo .nav-buttons button a,
.nav .nav-container .logo .nav-buttons button i {
  text-decoration: none;
  transition: all 0.2s linear;
  font-weight: 700;
  align-items: center;
  color: rgb(40, 75, 35);
  text-decoration: none;
}
nav .nav-container .logo .nav-buttons button a:hover,
nav .nav-container .logo .nav-buttons button i:hover,
.nav .nav-container .logo .nav-buttons button a:hover,
.nav .nav-container .logo .nav-buttons button i:hover {
  color: wheat;
  background: rgb(37, 21, 11);
}
nav .nav-container .logo .nav-buttons button a:visited,
nav .nav-container .logo .nav-buttons button i:visited,
.nav .nav-container .logo .nav-buttons button a:visited,
.nav .nav-container .logo .nav-buttons button i:visited {
  color: rgb(40, 75, 35);
}

.petitscochonspage1 {
  background: url(../../../assets/img/cochons004/petitscochonspage1.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage1 {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.petitscochonspage2 {
  background: url(../../../assets/img/cochons004/petitscochonspage2.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage2 {
    background-size: contain;
  }
}

.petitscochonspage3 {
  background: url(../../../assets/img/cochons004/petitscochonspage3.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage3 {
    background-size: contain;
  }
}

.petitscochonspage4 {
  background: url(../../../assets/img/cochons004/petitscochonspage4.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage4 {
    background-size: contain;
  }
}

.petitscochonspage5 {
  background: url(../../../assets/img/cochons004/petitscochonspage5.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage5 {
    background-size: contain;
  }
}

.petitscochonspage6 {
  background: url(../../../assets/img/cochons004/petitscochonspage6.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage6 {
    background-size: contain;
  }
}

.petitscochonspage7 {
  background: url(../../../assets/img/cochons004/petitscochonspage7.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage7 {
    background-size: contain;
  }
}

.petitscochonspage8 {
  background: url(../../../assets/img/cochons004/petitscochonspage8.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage8 {
    background-size: contain;
  }
}

.petitscochonspage9 {
  background: url(../../../assets/img/cochons004/petitscochonspage9.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage9 {
    background-size: contain;
  }
}

.imgCoeurVeganA {
  background: url(../../../assets/img/coeurvegan003/003ACoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgCoeurVeganA {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgCoeurVeganB {
  background: url(../../../assets/img/coeurvegan003/003BCoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgCoeurVeganB {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgCoeurVeganC {
  background: url(../../../assets/img/coeurvegan003/003CCoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgCoeurVeganC {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgCoeurVeganD {
  background: url(../../../assets/img/coeurvegan003/003DCoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgCoeurVeganD {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgFinDeVieA {
  background: url(../../../assets/img/findevie007/007findevie.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgFinDeVieA {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgFinDeVieB {
  background: url(../../../assets/img/findevie007/007findevie3P2.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgFinDeVieB {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgAnimauxLoversA {
  background: url(../../../assets/img/animauxlover008/008incarnationchien.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgAnimauxLoversA {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgAnimauxLoversB {
  background: url(../../../assets/img/animauxlover008/008incarnationchienp2.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgAnimauxLoversB {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.listeBDCards .BDCardMultiple {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px 5px 20px;
}
.listeBDCards .BDCardMultiple button {
  font-weight: 700;
  margin: 2px 0 20px 0;
  padding: 6px 6px;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: rgb(206, 228, 187);
}
.listeBDCards .BDCardMultiple button:hover {
  background: rgb(37, 21, 11);
  color: wheat;
}
.listeBDCards .BDCardMultiple button a,
.listeBDCards .BDCardMultiple button i {
  text-decoration: none;
  transition: all 0.2s linear;
  font-weight: 700;
  align-items: center;
  color: rgb(40, 75, 35);
  text-decoration: none;
}
.listeBDCards .BDCardMultiple button a:hover,
.listeBDCards .BDCardMultiple button i:hover {
  color: wheat;
  background: rgb(37, 21, 11);
}
.listeBDCards .BDCardMultiple button a:visited,
.listeBDCards .BDCardMultiple button i:visited {
  color: rgb(40, 75, 35);
}
.listeBDCards .BDCard {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: 20px 20px 5px 20px;
}
@media (max-width: 650px) {
  .listeBDCards .BDCard {
    width: 570px;
    height: 570px;
  }
}
@media (max-width: 630px) {
  .listeBDCards .BDCard {
    width: 540px;
    height: 540px;
  }
}
@media (max-width: 600px) {
  .listeBDCards .BDCard {
    width: 510px;
    height: 510px;
  }
}
@media (max-width: 600px) {
  .listeBDCards .BDCard {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 460px) {
  .listeBDCards .BDCard {
    width: 430px;
    height: 430px;
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .listeBDCards .BDCard {
    width: 410px;
    height: 410px;
  }
}
@media (max-width: 420px) {
  .listeBDCards .BDCard {
    width: 390px;
    height: 390px;
  }
}
@media (max-width: 400px) {
  .listeBDCards .BDCard {
    width: 370px;
    height: 370px;
    padding: 3px;
  }
}
@media (max-width: 385px) {
  .listeBDCards .BDCard {
    width: 330px;
    height: 330px;
    padding: 1px;
  }
}
@media (max-width: 355px) {
  .listeBDCards .BDCard {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 340px) {
  .listeBDCards .BDCard {
    width: 310px;
    height: 310px;
  }
}
.listeBDCards .BDCard .imgVache {
  background: url(../../assets/img/001HistoireVache.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeBDCards .BDCard .imgVache {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeBDCards .BDCard .imgOmnivoreChoix {
  background: url(../../assets/img/002OmnivoreParChoix.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeBDCards .BDCard .imgOmnivoreChoix {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeBDCards .BDCard .imgReincarnation {
  background: url(../../assets/img/006reincarnation.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeBDCards .BDCard .imgReincarnation {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeBDCards .BDCard .imgReduirePoa {
  background: url(../../assets/img/009reduirepoa.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeBDCards .BDCard .imgReduirePoa {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeBDCards .entete {
  width: 600px;
  height: 120px;
  margin: 10px auto;
}
@media (max-width: 650px) {
  .listeBDCards .entete {
    width: 570px;
    height: 114px;
  }
}
@media (max-width: 630px) {
  .listeBDCards .entete {
    width: 540px;
    height: 108px;
  }
}
@media (max-width: 600px) {
  .listeBDCards .entete {
    width: 510px;
    height: 102px;
  }
}
@media (max-width: 600px) {
  .listeBDCards .entete {
    width: 450px;
    height: 90px;
  }
}
@media (max-width: 460px) {
  .listeBDCards .entete {
    width: 430px;
    height: 86px;
  }
}
@media (max-width: 430px) {
  .listeBDCards .entete {
    width: 410px;
    height: 82px;
  }
}
@media (max-width: 420px) {
  .listeBDCards .entete {
    width: 390px;
    height: 78px;
  }
}
@media (max-width: 400px) {
  .listeBDCards .entete {
    width: 370px;
    height: 74px;
    padding: 3px;
  }
}
@media (max-width: 385px) {
  .listeBDCards .entete {
    width: 330px;
    height: 66px;
    padding: 1px;
  }
}
@media (max-width: 355px) {
  .listeBDCards .entete {
    width: 320px;
    height: 64px;
  }
}
@media (max-width: 340px) {
  .listeBDCards .entete {
    width: 310px;
    height: 62px;
  }
}
.listeBDCards .entete .entetetextes {
  background: url(../../assets/img/entetes/entetetextes.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  background-size: contain; /* Redimensionner l'image pour s'ajuster */
}

.listeRecettesCards .RecettesCardMultiple {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px 5px 20px;
}
.listeRecettesCards .RecettesCardMultiple button {
  font-weight: 700;
  margin: 2px 0 20px 0;
  padding: 6px 6px;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: rgb(206, 228, 187);
}
.listeRecettesCards .RecettesCardMultiple button:hover {
  background: rgb(37, 21, 11);
  color: wheat;
}
.listeRecettesCards .RecettesCardMultiple button a,
.listeRecettesCards .RecettesCardMultiple button i {
  text-decoration: none;
  transition: all 0.2s linear;
  font-weight: 700;
  align-items: center;
  color: rgb(40, 75, 35);
  text-decoration: none;
}
.listeRecettesCards .RecettesCardMultiple button a:hover,
.listeRecettesCards .RecettesCardMultiple button i:hover {
  color: wheat;
  background: rgb(37, 21, 11);
}
.listeRecettesCards .RecettesCardMultiple button a:visited,
.listeRecettesCards .RecettesCardMultiple button i:visited {
  color: rgb(40, 75, 35);
}
.listeRecettesCards .RecetteCard {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: 20px 20px 5px 20px;
}
@media (max-width: 650px) {
  .listeRecettesCards .RecetteCard {
    width: 570px;
    height: 570px;
  }
}
@media (max-width: 630px) {
  .listeRecettesCards .RecetteCard {
    width: 540px;
    height: 540px;
  }
}
@media (max-width: 600px) {
  .listeRecettesCards .RecetteCard {
    width: 510px;
    height: 510px;
  }
}
@media (max-width: 600px) {
  .listeRecettesCards .RecetteCard {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 460px) {
  .listeRecettesCards .RecetteCard {
    width: 430px;
    height: 430px;
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .listeRecettesCards .RecetteCard {
    width: 410px;
    height: 410px;
  }
}
@media (max-width: 420px) {
  .listeRecettesCards .RecetteCard {
    width: 390px;
    height: 390px;
  }
}
@media (max-width: 400px) {
  .listeRecettesCards .RecetteCard {
    width: 370px;
    height: 370px;
    padding: 3px;
  }
}
@media (max-width: 385px) {
  .listeRecettesCards .RecetteCard {
    width: 330px;
    height: 330px;
    padding: 1px;
  }
}
@media (max-width: 355px) {
  .listeRecettesCards .RecetteCard {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 340px) {
  .listeRecettesCards .RecetteCard {
    width: 310px;
    height: 310px;
  }
}
.listeRecettesCards .RecetteCard .r02crepes {
  background: url(../../assets/recettes/r02crepes.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeRecettesCards .RecetteCard .r02crepes {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeRecettesCards .RecetteCard .r01cookies {
  background: url(../../assets/recettes/r01cookies.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeRecettesCards .RecetteCard .r01cookies {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeRecettesCards .RecetteCard .p01rizcurcuma {
  background: url(../../assets/recettes/p01rizcurcuma.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeRecettesCards .RecetteCard .p01rizcurcuma {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeRecettesCards .RecetteCard .p02ramenslegumes {
  background: url(../../assets/recettes/p02ramenslegumes.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeRecettesCards .RecetteCard .p02ramenslegumes {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeRecettesCards .RecetteCard .p03veloutepotimarron {
  background: url(../../assets/recettes/p03veloutepotimarron.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeRecettesCards .RecetteCard .p03veloutepotimarron {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeRecettesCards .RecetteCard .p04tartemoutarde {
  background: url(../../assets/recettes/p04tartemoutarde.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .listeRecettesCards .RecetteCard .p04tartemoutarde {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}
.listeRecettesCards .entete {
  width: 600px;
  height: 120px;
  margin: 10px auto;
}
@media (max-width: 650px) {
  .listeRecettesCards .entete {
    width: 570px;
    height: 114px;
  }
}
@media (max-width: 630px) {
  .listeRecettesCards .entete {
    width: 540px;
    height: 108px;
  }
}
@media (max-width: 600px) {
  .listeRecettesCards .entete {
    width: 510px;
    height: 102px;
  }
}
@media (max-width: 600px) {
  .listeRecettesCards .entete {
    width: 450px;
    height: 90px;
  }
}
@media (max-width: 460px) {
  .listeRecettesCards .entete {
    width: 430px;
    height: 86px;
  }
}
@media (max-width: 430px) {
  .listeRecettesCards .entete {
    width: 410px;
    height: 82px;
  }
}
@media (max-width: 420px) {
  .listeRecettesCards .entete {
    width: 390px;
    height: 78px;
  }
}
@media (max-width: 400px) {
  .listeRecettesCards .entete {
    width: 370px;
    height: 74px;
    padding: 3px;
  }
}
@media (max-width: 385px) {
  .listeRecettesCards .entete {
    width: 330px;
    height: 66px;
    padding: 1px;
  }
}
@media (max-width: 355px) {
  .listeRecettesCards .entete {
    width: 320px;
    height: 64px;
  }
}
@media (max-width: 340px) {
  .listeRecettesCards .entete {
    width: 310px;
    height: 62px;
  }
}
.listeRecettesCards .entete .enteterecettessucrees {
  background: url(../../assets/img/entetes/enteterecettessucrees.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  background-size: contain; /* Redimensionner l'image pour s'ajuster */
}
.listeRecettesCards .entete .enteterecettessalees {
  background: url(../../assets/img/entetes/enteterecettessalees.png);
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
  background-size: contain; /* Redimensionner l'image pour s'ajuster */
}

.petitscochonspage1 {
  background: url(../../../assets/img/cochons004/petitscochonspage1.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage1 {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.petitscochonspage2 {
  background: url(../../../assets/img/cochons004/petitscochonspage2.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage2 {
    background-size: contain;
  }
}

.petitscochonspage3 {
  background: url(../../../assets/img/cochons004/petitscochonspage3.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage3 {
    background-size: contain;
  }
}

.petitscochonspage4 {
  background: url(../../../assets/img/cochons004/petitscochonspage4.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage4 {
    background-size: contain;
  }
}

.petitscochonspage5 {
  background: url(../../../assets/img/cochons004/petitscochonspage5.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage5 {
    background-size: contain;
  }
}

.petitscochonspage6 {
  background: url(../../../assets/img/cochons004/petitscochonspage6.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage6 {
    background-size: contain;
  }
}

.petitscochonspage7 {
  background: url(../../../assets/img/cochons004/petitscochonspage7.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage7 {
    background-size: contain;
  }
}

.petitscochonspage8 {
  background: url(../../../assets/img/cochons004/petitscochonspage8.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage8 {
    background-size: contain;
  }
}

.petitscochonspage9 {
  background: url(../../../assets/img/cochons004/petitscochonspage9.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .petitscochonspage9 {
    background-size: contain;
  }
}

.imgCoeurVeganA {
  background: url(../../../assets/img/coeurvegan003/003ACoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgCoeurVeganA {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgCoeurVeganB {
  background: url(../../../assets/img/coeurvegan003/003BCoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgCoeurVeganB {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgCoeurVeganC {
  background: url(../../../assets/img/coeurvegan003/003CCoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgCoeurVeganC {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgCoeurVeganD {
  background: url(../../../assets/img/coeurvegan003/003DCoeurVegan.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgCoeurVeganD {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgHomoCretinusA {
  background: url(../../../assets/img/homocretinus005/005Ahomocretinus.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgHomoCretinusA {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgHomoCretinusB {
  background: url(../../../assets/img/homocretinus005/005Bhomocretinus.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgHomoCretinusB {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgFinDeVieA {
  background: url(../../../assets/img/findevie007/007findevie.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgFinDeVieA {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgFinDeVieB {
  background: url(../../../assets/img/findevie007/007findevie3P2.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgFinDeVieB {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgAnimauxLoversA {
  background: url(../../../assets/img/animauxlover008/008incarnationchien.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgAnimauxLoversA {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.imgAnimauxLoversB {
  background: url(../../../assets/img/animauxlover008/008incarnationchienp2.png) center/cover;
  padding: 3px;
  min-height: 100%;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .imgAnimauxLoversB {
    background-size: contain; /* Redimensionner l'image pour s'ajuster */
  }
}

.contact-container {
  max-height: 100vh;
  min-height: 300px;
  width: 100vw;
  background: rgba(187, 176, 159, 0.644);
  padding: 10px;
}
.contact-container h3 {
  font-family: Wortlb, sans-serif;
  margin: 7px;
  padding-top: 30px;
  font-size: 1.6rem;
  text-align: center;
}

.mentions {
  background: rgba(187, 176, 159, 0.644);
}
.mentions .mentions-text {
  padding: 10px;
  font-size: 1.2rem;
}

footer {
  background: rgb(40, 75, 35);
  color: whitesmoke;
  padding: 20px 0 10px 0;
  padding: 5px;
  letter-spacing: 1.2px;
}
footer a {
  color: wheat;
}
footer .footer-container1 {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
@media screen and (max-width: 520px) {
  footer .footer-container1 {
    flex-direction: column;
  }
}
footer .footer-container1 li {
  padding-bottom: 5px;
  font-size: 1.4rem;
}
@media screen and (max-width: 1220px) {
  footer .footer-container1 li {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1000px) {
  footer .footer-container1 li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 760px) {
  footer .footer-container1 li {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  footer .footer-container1 li {
    font-size: 0.7rem;
  }
}
footer .footer-container1 .mentions-footer li #buy-me-a-coffee {
  color: rgb(214, 86, 48);
  font-size: 1.2rem;
  background: rgb(136, 184, 96);
  border-radius: 20px;
  padding: 3px 5px;
  display: block;
  font-weight: 900;
}
@media screen and (max-width: 1440px) {
  footer .footer-container1 .mentions-footer li #buy-me-a-coffee {
    font-size: 1rem;
  }
}
@media screen and (max-width: 865px) {
  footer .footer-container1 .mentions-footer li #buy-me-a-coffee {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 805px) {
  footer .footer-container1 .mentions-footer li #buy-me-a-coffee {
    font-size: 0.8rem;
  }
}
footer .footer-container2 {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
@media screen and (max-width: 520px) {
  footer .footer-container2 {
    flex-direction: column;
    padding: 5px 20px;
  }
}
footer .footer-container2 .footertext {
  display: flex;
  font-family: Wortlb, sans-serif;
  font-size: 1.2rem;
  align-items: flex-end;
}
@media screen and (max-width: 1220px) {
  footer .footer-container2 .footertext {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1000px) {
  footer .footer-container2 .footertext {
    font-size: 1rem;
  }
}
@media screen and (max-width: 760px) {
  footer .footer-container2 .footertext {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 670px) {
  footer .footer-container2 .footertext {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 590px) {
  footer .footer-container2 .footertext {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=index.css.map */