.listeRecettesCards {
  .RecettesCardMultiple {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px 5px 20px;

    button {
      font-weight: 700;
      margin: 2px 0 20px 0;
      padding: 6px 6px;
      font-size: 1.4rem;
      border-radius: 5px;
      // display: block;
      // margin: 0 5px 5px 0;
      background-color: $green3;

      &:hover {
        background: $brown1;
        color: wheat;
      }

      a,
      i {
        text-decoration: none;
        transition: all 0.2s linear;
        // display: block;

        font-weight: 700;
        align-items: center;
        color: $green2;

        text-decoration: none;

        &:hover {
          color: wheat;
          background: $brown1;
        }

        &:visited {
          color: $green2;
        }
      }
    }
  }

  .RecetteCard {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 20px 20px 5px 20px;

    @media (max-width: 650px) {
      width: 570px;
      height: 570px;
    }

    @media (max-width: 630px) {
      width: 540px;
      height: 540px;
    }
    @media (max-width: 600px) {
      width: 510px;
      height: 510px;
    }
    @media (max-width: 600px) {
      width: 450px;
      height: 450px;
    }

    @media (max-width: 460px) {
      width: 430px;
      height: 430px;
      padding: 10px;
    }

    @media (max-width: 430px) {
      width: 410px;
      height: 410px;
    }

    @media (max-width: 420px) {
      width: 390px;
      height: 390px;
    }

    @media (max-width: 400px) {
      width: 370px;
      height: 370px;
      padding: 3px;
    }
    @media (max-width: 385px) {
      width: 330px;
      height: 330px;
      padding: 1px;
    }

    @media (max-width: 355px) {
      width: 320px;
      height: 320px;
    }
    @media (max-width: 340px) {
      width: 310px;
      height: 310px;
    }

    .r01cookies {
      background: url(../../assets/recettes/r01cookies.png) center/cover;
      padding: 3px;
      min-height: 100%;
      border-radius: 20px;
      @media (max-width: 650px) {
        background-size: contain; /* Redimensionner l'image pour s'ajuster */
      }
    }
  }
}
